.sidebarChat{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.sidebarChat:hover{
    background-color: #863575;
    color: white;
}

.sidebarChat_info{
    margin-left: 15px;
    position: relative;
    width: 100%;
}
.sidebarChat_info > small{
    position: absolute;
    top: 5px;
    right: 0;

}
.sidebar_chats{
    overflow: scroll;
}
.sidebar_chats::-webkit-scrollbar{
    display: none;

}
.sidebar_chats{
    -ms-overflow-style: none;
    scrollbar-width: none;
}